<div class="tabs-striped tabs-top tabs-background-positive tabs-positive" ng-controller="tabs">
      <div class="tabs">
        <a class="tab-item" ui-sref="userhome.chats">
          <i class="icon ion-ios7-chatboxes-outline"></i>
         My Chats
        </a>
        <a class="tab-item" ui-sref="userhome.classfellows">
          <i class="icon ion-ios7-star-outline"></i>
          Classfellows
        </a>
        <a class="tab-item" ui-sref="userhome.schoolfellows">
          <i class="icon ion-ios7-people-outline"></i>
          Schoolfellows
        </a>
        <a class="tab-item active" ui-sref="userhome.profile({id: {{userId}}})">
          <i class="icon ion-ios7-person-outline"></i>
          My Profile
        </a>
      </div>
    </div>
<ion-content has-bouncing="true" style="margin-top: 68px;" ng-controller="changePassword">
	<div class="list list-inset">
		<legend style="margin-bottom: 10px;"> <i class="icon ion-key" style="margin-right: 8px;"></i>Update your password.</legend>
		<p>Change your password.</p>
		<form ng-submit="changepassword()">
    <label class="item item-input" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
        <input type="password" placeholder="Old password" ng-model="oldpassword">
      </label>
      <label class="item item-input" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
        <input type="password" placeholder="New Password" ng-model="newpassword">
      </label>
		<input type="submit" class="button buttondefault btn-block buttonmargin" value="Change password">
		</form>
	</div>
</ion-content>