<div class="tabs-striped tabs-top tabs-background-positive tabs-positive" ng-controller="tabs">
      <div class="tabs">
        <a class="tab-item" ui-sref="userhome.chats">
          <i class="icon ion-ios7-chatboxes-outline"></i>
         My Chats
        </a>
        <a class="tab-item" ui-sref="userhome.classfellows">
          <i class="icon ion-ios7-star-outline"></i>
          Classfellows
        </a>
        <a class="tab-item" ui-sref="userhome.schoolfellows">
          <i class="icon ion-ios7-people-outline"></i>
          Schoolfellows
        </a>
        <a class="tab-item active" ui-sref="userhome.profile({id: {{userId}}})">
          <i class="icon ion-ios7-person-outline"></i>
          My Profile
        </a>
      </div>
    </div>

<ion-content class="content padding has-header" style="margin-top: 50px; padding-top: 0px; padding-left: 0px; padding-right: 0px;" has-bouncing="true" ng-controller="settings">
<div class="list">
 <div class="item item-divider" style="font-weight: normal; padding: 6px; font-size: 15px; background: transparent;">
    Account Settings
  </div>
  <a class="item item-icon-left" ui-sref="userhome.passwordchange"href="#">
    <i class="icon ion-key"></i>
      Change Your Password
  </a>
  <a class="item item-icon-left" href="#" ui-sref="userhome.mobilenum">
    <i class="icon ion-iphone"></i>
      Add/Update Your Mobile Number
  </a>
  <a class="item item-icon-left" href="#" ui-sref="userhome.bio">
    <i class="icon ion-ios7-paper-outline"></i>
      Add/Update Your Bio
  </a>
   <a class="item item-icon-left" href="#" ui-sref="userhome.profilepicture">
    <i class="icon ion-ios7-photos-outline"></i>
      Update your profile picture
  </a>

  <a class="item item-icon-left" href="#" ui-sref="userhome.changerelationship">
    <i class="icon ion-ios7-heart-outline"></i>
      Change Your Relationship Status
  </a>
  
  <div class="item item-divider" style="font-weight: normal; padding: 6px; font-size: 15px; background: transparent;">
    Privacy
  </div>
   <li class="item item-toggle">
      Show my mobile number
     <label class="toggle toggle-positive">
       <input type="checkbox" ng-checked="showMobileNum" ng-click="change()">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <div class="item item-divider" style="font-weight: normal; padding: 6px; font-size: 15px; background: transparent;">
    Blocked people
  </div>
   <a class="item item-icon-left" href="#" ui-sref="userhome.blockedpeople">
    <i class="icon ion-ios7-close-outline"></i>
      See people you have blocked
  </a>
</div>
</ion-content>