<div class="tabs-striped tabs-top tabs-background-positive tabs-positive" ng-controller="tabs">
      <div class="tabs">
        <a class="tab-item active" ui-sref="userhome.chats">
          <i class="icon ion-ios7-chatboxes-outline"></i>
         My Chats
        </a>
        <a class="tab-item" ui-sref="userhome.classfellows">
          <i class="icon ion-ios7-star-outline"></i>
          Classfellows
        </a>
        <a class="tab-item" ui-sref="userhome.schoolfellows">
          <i class="icon ion-ios7-people-outline"></i>
          Schoolfellows
        </a>
        <a class="tab-item" ui-sref="userhome.profile({id: {{userId}}})">
          <i class="icon ion-ios7-person-outline"></i>
          My Profile
        </a>
      </div>
    </div>
<ion-content class="content padding has-header" style="margin-top: 50px; padding-top: 0px;">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>