<style type="text/css">
	.tabs-positive > .tabs{
background-color: white !important;
    a.tab-item {
        color:  white !important;
        opacity: 0.6;
    }
    a.tab-item-active {
        color:  rgb(245, 231, 231) !important;
            color:  #1aacc3 !important;

        opacity: 1;
        border-top:   3px;
    }
}
</style>
<div class="bar bar-header has-tabs-top theme">
    <h1 class="title white logofont" style="font-size: 30px;">Talkster</h1>
    <button class="button btntheme icon ion-search" ui-sref="userhome.search"></button>
</div>

<ui-view></ui-view>