<style type="text/css">
  
  .slider-slide {
  padding-top: 150px;
  padding-bottom: 30px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

p{
  font-size: 16px;
}

</style>
<ion-content has-bouncing="false">

  <ion-slide-box>
  <ion-slide>
    <h1 style="margin: 0px; font-size: 63px; margin-bottom: 0px;"><i class="icon ion-person-stalker"></i></h1>
  	<h1 style="margin-top: 0px;">Your whole school online</h1>
  </ion-slide>
  <ion-slide>
    <h1 style="margin: 0px; font-size: 63px; margin-bottom: 0px;"><i class="ion-ios7-mic-outline"></i></h1>
  	<h1 style="margin-top: 0px;">Voice chat with your friends</h1>
  </ion-slide>
  <ion-slide>
    <h1 style="margin: 0px; font-size: 63px;"><i class="ion-ios7-plus-outline"></i></h1>
  	 <h1 style="margin-top: 0px; margin-bottom: 0px;">And even more...</h1>
    <p style="margin-bottom: 2px;">Start by checking out your schoolfellows</p>    
    <div class="button buttondefault buttondefault-green" style="margin-bottom: 8px;" ui-sref="userhome.schoolfellows">Check out your schoolfellows</div>  
</ion-slide>
</ion-slide-box>

</ion-content>